/* CSS Document */
/*
Vang:	FEE356
Do:		E68688
*/
*{margin:0; padding:0}
body{font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#333; background:url(images/bg.gif)}
img{border:0}
a:link,a:visited,a:active{color:#0055A5; text-decoration:none}
a:hover{color:#ED1E28; text-decoration:underline}
hr{height:1px; background-color:#E8E8E8; border:none; margin-bottom:10px}

@font-face {
    font-family: 'UVNBayBuom';
    src: url('fonts/UVNBayBuomHep_R.eot?');
    src: url('fonts/UVNBayBuomHep_R.woff') format('woff'),
		 url('fonts/UVNBayBuomHep_R.ttf') format('truetype'),
		 url('fonts/UVNBayBuomHep_R.svg') format('svg');
}

#wrapper{width:960px; margin:auto}

#logo{clear:both; width:320px; height:80px; margin:20px auto 30px auto}

#slider{height:280px; overflow:hidden; margin-bottom:30px; border:solid 1px #FFF; position:relative}

#contact_social{clear:both}
#contact_social #contact_foo{width:580px; height:155px; float:left; font-size:110%; line-height:23px; padding:25px 0 0 120px; background:url(images/contact_home.png) no-repeat top left}

#contact_social #contact_foo #select_chinhanh{font-weight:bold; margin-bottom:10px}
#contact_social #contact_foo #select_chinhanh .select_chinhanh{margin:0 10px; padding:5px 10px; border:solid 1px #999; background-color:#FF9; cursor:pointer}
#contact_social #contact_foo #select_chinhanh .select_chinhanh_active{background-color:#F00; color:#FFF}

#contact_social #social{width:225px; height:120px; float:right; padding:60px 0 0 10px; background:url(images/social.png) no-repeat}
#contact_social #social img{width:64px}

#footer{height:65px; margin:0 7px 0 10px; padding-top:10px; color:#FFF; font-weight:bold}
#footer h1, #footer h3{font-size:120%; width:auto; float:left}

#support_online{width:270px; overflow:hidden; position:fixed; bottom:0; right:10px; background:#FFF; border:solid 1px #999; z-index:5}
#support_online #btn_support{height:40px; cursor:pointer}
#support_online #ajax_support{display:none; padding-top:10px; border-top:solid 1px #999}

#support_online #ds_chinhanh{margin:0 5px}
#support_online #ds_chinhanh .ds_chinhanh_item{width:100px; float:left; line-height:25px; height:25px; text-align:center; margin:0 10px 5px 10px; background-color:#FF9; border:solid 1px #999; cursor:pointer}
#support_online #ds_chinhanh .ds_chinhanh_item_active{background-color:#F00; color:#FFF; font-weight:bold}

#support_online #ds_support {clear:both; margin:0 15px 0 25px; padding-top:10px}
#support_online #ds_support .ds_support_item{line-height:25px; height:25px; margin-bottom:8px}
#support_online #ds_support .ds_support_item img{height:25px; float:left; margin-right:10px}

#support_hotline{clear:both; line-height:22px; padding:10px 0; text-align:center; font-weight:bold}

/*home*/
#nauan_other{height:153px; padding:35px 30px 0 30px; background:url(images/bg_catlogy.png) no-repeat}
#nauan_other .nauan_other_item{width:300px; float:left; font-family:"UVNBayBuom"}
#nauan_other .nauan_other_item a{color:#333}
#nauan_other .nauan_other_item a:hover{color:#F00}
#nauan_other .nauan_other_item img{height:70px; float:left; margin-right:10px}
#nauan_other .nauan_other_item h3{margin-top:5px; font-size:140%; line-height:160%}

#about{clear:both; margin-bottom:25px; color:#FFF; font-family:"UVNBayBuom"; font-size:150%; letter-spacing:1px; word-spacing:2px}
#about h1{font-size:170%; color:#FFF; margin:0}
#about_info{width:640px; float:left}
#about_video{width:300px; float:right}
#about_video iframe{width:300px; height:240px; margin-top:10px}

.home_info{background-color:#FFF; margin-bottom:30px; padding-top:10px}

.title{clear:both; height:89px; color:#FF0; font-size:210%; font-weight:bold; text-transform:uppercase; font-family:"Times New Roman", Times, serif}
.title .title_1 {width:43px; height:69px; float:left; background:url(images/title-1.png) no-repeat}
.title .title_2 {width:auto; height:44px; float:left; background:url(images/title-2.png) repeat-x; padding-top:28px; text-shadow:2px 2px 3px #000}
.title .title_2 p{width:49px; overflow:hidden; float:left}
.title .title_3 {width:91px; height:69px; float:left; background:url(images/title-3.png) no-repeat}

#home_info_noibat{width:550px; float:left; line-height:20px}
.home_info_noibat_item{clear:both; height:140px}
.home_info_noibat_item .home_info_noibat_img{width:200px; height:120px; float:left; overflow:hidden; margin:0 10px}
.home_info_noibat_item .home_info_noibat_img img{width:200px}
.home_info_noibat_item h3{font-size:110%}
.home_info_noibat_item .info{height:60px; overflow:hidden}
.home_info_noibat_item .viewmore{float:right; color:#F00}

#home_info_new{width:370px; float:right; margin:0 10px 10px 0; padding:6px 8px 0 8px; border:solid 1px #CCC; background-color:#FFC; box-shadow:2px 2px 2px #b8b8b8}
#home_info_new li{list-style:none; line-height:20px; margin-bottom:10px; padding-left:12px; background:url(images/li.gif) no-repeat left top}

.home_photo_item{width:220px; float:left; margin:0 0 14px 14px; border:solid 1px #333; box-shadow:2px 2px 3px #333}
.home_photo_item .home_photo_item_img{width:200px; height:160px; overflow:hidden; margin:auto}
.home_photo_item .home_photo_item_img img{width:200px}
.home_photo_item a{color:#FFF; text-align:center; font-size:100%}
.home_photo_item a:hover{color:#FF0}
.home_photo_item h4{display:block; line-height:30px; background-color:#EC1C24}

.home_video_item{width:290px; height:280px; float:left; margin-left:22px}
.home_video_item .home_video_item_img{height:180px; overflow:hidden; text-align:center; background-color:#1B1B1B; position:absolute; z-index:1}
.home_video_item .home_video_item_img img{width:274px; margin:8px}
.home_video_item .play_video{width:290px; height:180px; background:url(images/play-video.png) no-repeat center; position:relative; z-index:3}
.home_video_item h4{font-size:100%; line-height:20px}
/*end home*/

/*thu vien*/
.thuvien_photo_item{width:220px; float:left; margin:0 0 14px 14px; border:solid 1px #CCC}
.thuvien_photo_item .thuvien_photo_item_img{width:200px; height:160px; overflow:hidden; margin:auto}
.thuvien_photo_item .thuvien_photo_item_img img{width:200px}
.thuvien_photo_item a{color:#FFF; text-align:center}
.thuvien_photo_item a:hover{color:#FF0}
.thuvien_photo_item h3{display:block; font-size:100%; height:44px; line-height:22px; overflow:hidden; padding:0 5px}

.photo_item{width:205px; float:left; border:solid 1px #CCC}
.photo_item .photo_item_img{width:175px; height:110px; overflow:hidden; margin:15px; position:absolute; z-index:1}
.photo_item .photo_item_img img{width:175px}
.photo_item .album_icon{position:relative; z-index:2}
.photo_item a{color:#F33}
.photo_item a:hover{color:#C00}
.photo_item h3{display:block; font-size:100%; text-align:center; line-height:22px; height:44px; overflow:hidden}

.thuvien_video_item{width:290px; height:250px; float:left; margin-left:22px; background-color:#f2f2f2; border:1px solid #CCC;}
.thuvien_video_item .thuvien_video_item_img{width:210px; height:200px; overflow:hidden; position:absolute; z-index:1}
.thuvien_video_item .thuvien_video_item_img img{height:200px; margin:8px 0 0 8px}
.thuvien_video_item .album_icon_video{width:290px; height:207px; background:url(images/video_icon.png) no-repeat center; position:relative; z-index:3}
.thuvien_video_item h3{font-size:100%; line-height:20px; text-align:center; padding:0 10px}
/*end thu vien*/

#content{background-color:#FFF; margin:0 7px 30px 10px}

#left{width:650px; float:left; margin-left:10px}

/*right*/
#right{width:250px; float:right; margin-right:10px}

#right .box_right{clear:both; margin-bottom:30px; padding:10px 5px 5px 5px; border:solid 1px #999; box-shadow:2px 2px 3px #666}

#right .box_right_title{height:25px; line-height:25px; color:#DA251D; font-size:200%; font-family:"UVNBayBuom"; font-weight:bold; margin-bottom:10px; padding-bottom:15px; background:url(images/line-right.jpg) repeat-x bottom}
#right .box_right_title img{float:left; margin-right:10px}

.box_right_video{margin-bottom:10px}
.box_right_video .box_right_video_img{height:140px; overflow:hidden; text-align:center; background-color:#1B1B1B; position:absolute; z-index:1}
.box_right_video .box_right_video_img img{width:230px; margin:4px}
.box_right_video .play_video{width:250px; height:140px; background:url(images/play-video.png) no-repeat center; position:relative; z-index:3}
.box_right_video h4, .box_right_video h3 {font-size:100%; line-height:20px}

#right .box_right_hocvien{height:37px; line-height:37px; font-weight:bold; margin-bottom:10px; padding:0 15px 0 20px; background:url(images/bg-thong-tin.png)}
#right .box_right_hocvien a{color:#902D17}
#right .box_right_hocvien a:hover{color:#F00}

#right .box_right_info{clear:both; height:80px}
#right .box_right_info .box_right_info_img{width:80px; height:60px; overflow:hidden; float:left; margin-right:5px}
#right .box_right_info .box_right_info_img img{width:78px; border:solid 1px #CCC}
#right .box_right_info h3{font-size:100%}

.photo_danhmuc_c1{font-weight:bold; line-height:25px; font-size:100%}
.photo_danhmuc_c1 a{color:#F55}

.photo_danhmuc_c2{line-height:16px; font-weight:bold; font-style:italic; font-size:90%}
.photo_danhmuc_c2 a{display:block; margin-left:5px; padding:0 0 8px 10px; background:url(images/arrow.gif) no-repeat left; background-position:0px -1px}

.photo_danhmuc_c3{padding:0 0 5px 20px; line-height:16px; font-size:90%}
.photo_danhmuc_c3 a{display:block; color:#666; margin-left:0; padding:0 0 8px 10px; background:url(images/arrow.gif) no-repeat left; background-position:0px -1px}
/*end right*/

#other{clear:both}
#other div{font-size:130%; color:#666; font-weight:bold; padding:10px 0 0 20px}
#other li{list-style:none; line-height:20px; margin-bottom:10px; padding-left:12px; background:url(images/li.gif) no-repeat left top}

#chuongtrinh{padding:0 20px}
#chuongtrinh .chuongtrinh_title{height:36px; line-height:36px; text-align:center; font-weight:bold; font-size:110%; margin-bottom:20px; background:url(images/bg_chuongtrinh.jpg) no-repeat center}
#chuongtrinh .chuongtrinh_title a{color:#FF0; text-shadow:2px 2px 3px #000}

#chuongtrinh .chuongtrinh_item{width:445px; height:120px}
#chuongtrinh .chuongtrinh_item .chuongtrinh_item_img{width:140px; height:100px; overflow:hidden; float:left; margin-right:6px}
#chuongtrinh .chuongtrinh_item .chuongtrinh_item_img img{width:140px}
#chuongtrinh .chuongtrinh_item .chuongtrinh_info{line-height:20px; height:60px; overflow:hidden}
#chuongtrinh .chuongtrinh_item h3{font-size:100%; margin-bottom:3px}
#chuongtrinh .h4 {color:#F00}
#chuongtrinh h4{color:#F00; font-size:100%; font-style:italic; text-transform:uppercase; text-decoration:underline; margin-bottom:10px}

.info_list{height:150px}
.info_list .info_list_img{width:190px; height:140px; overflow:hidden; float:left; margin-right:15px}
.info_list .info_list_img img{width:188px; border:solid 1px #CCC}
.info_list .info_list_text{line-height:20px; height:60px; overflow:hidden}
.info_list h3{font-size:110%; line-height:20px; margin-bottom:5px}

.viewpost{line-height:22px}
.viewpost p, .viewpost div {line-height:20px; margin:10px 0}
.viewpost li{margin-left:35px}
.viewpost h1{font-size:160%; line-height:30px; color:#ED1E28; margin-bottom:10px}
.viewpost h2, .viewpost h3, .viewpost h4, .viewpost h5, .viewpost h6 {font-size:100%}
.viewpost  .date{color:#888; font-style:italic; text-align:right}

#contact{padding:25px}
#contact #info{line-height:22px}
#contact #info h1{font-size:200%; font-weight:100; padding-bottom:10px; margin:0}
#contact #info p, #contact #info div {margin:10px 0}
#contact .txt{width:250px; padding:5px; background-color:#f7f7f7; border:solid 1px #CCC}
#contact .textarea{width:662px; height:100px; line-height:20px; resize:none; overflow:auto; padding:5px; background-color:#f7f7f7; border:solid 1px #CCC}
#contact .btn{width:auto; padding:10px 60px; font-weight:bold; color:#FFF; background-color:#017B80; border:none; cursor:pointer}

.text_dangky{width:350px; background-color:#F1F1F1; border:solid 1px #CCC; line-height:25px; height:25px}
.select_dangky{width:350px; background-color:#F1F1F1; border:solid 1px #CCC; line-height:25px; height:25px}
.btn_dangky{width:auto; padding:8px 50px; font-size:120%; font-weight:bold; color:#FFF; background-color:#017B80; border:none; cursor:pointer}

#navigator{clear:both; padding:10px 0 10px 10px}
#navigator a{padding-right:15px; font-size:12px; color:#666}
#navigator a:hover{color:#000}
#navigator span{font-size:9px; color:#999; padding-right:5px}

#phantrang{clear:both; margin-top:10px}
#phantrang a{margin-right:3px; padding:5px 10px; text-align:center; background-color:#666; color:#FFF}
#phantrang a:hover{background-color:#ED1E28}

#run_top{font-weight:bold; float:right; margin-right:20px; color:#C00}

#tuyendung{border-collapse:collapse}
#tuyendung td, #tuyendung th{padding:10px 5px; border-bottom:dotted 1px #CCC}

#tuyendung_thongtin td, #tuyendung_thongtin th{padding:10px 15px; border-bottom:dotted 1px #CCC}

.btn_nop_hs{clear:both; width:118px; height:29px; line-height:29px !important; font-weight:bold; color:#FFF; margin:0; padding-left:30px; background:url(images/btn-nop-hs.gif); cursor:pointer}

/*menu*/
#menu{height:48px; margin-bottom:15px}
#nav, #nav ul {list-style:none; position:relative; z-index:1000}
#nav a:link, #nav a:active, #nav a:visited {display:block; background-color:none}
#nav li a {line-height:33px; color:#FFF; font-weight:bold; text-transform:uppercase; padding:0 25px; background:url(images/bg-menu.gif); border:solid 1px #7B2424; box-shadow: 1px 1px 2px #333; text-shadow: 2px 2px #333}
#nav a:hover {text-decoration:none; color:#FF0}
#nav li {float:left; position:relative}
#nav ul {width:160px; position:absolute; top:33px; display:none}
#nav li ul a {width:180px; line-height:28px; float:left; margin-left:23px; color:#CCC; text-transform:none; font-weight:100; border-bottom:solid 1px #8E0607}
#nav li ul a:hover {background-color:#666; color:#FFF}
#nav ul ul {top:auto}
#nav li ul ul {left:220px}
#nav li ul ul a{font-weight:100}
#nav li:hover ul ul,
#nav li:hover ul ul ul,
#nav li:hover ul ul ul ul {display:none}
#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li li li li:hover ul {display:block}

/* popup */
#backgroundPopup{display: none; position: fixed; _position: absolute; /*IE 6*/ height: 100%; width: 100%; top: 0; left: 0; background: #000000; order: 1px solid #CECECE; z-index:1100}
#popupContact{display: none; position: fixed; _position: absolute; /*IE 6*/ z-index:1200}
#content_popup{width:600px; height:auto; padding:10px 10px 25px 25px; background-color:#FFF}
.error{font-style:italic; color:#F00}

/*linkwebsite*/
.linkwebsite {width:100%; height:165px; text-align:center; font-family:"Times New Roman", Times, serif; margin-bottom:30px}
.linkwebsite h2 {display:block; color:#FF0; font-size:120%; height:50px; line-height:30px; margin-top:10px; text-align:center; text-transform:uppercase;}
.linkwebsite p {display:block; height:80px; overflow:hidden; line-height:20px; font-size:16px; font-weight:bold; text-align:center; width:200px }
.linkwebsite a {display:block; color:#FF9; font-size:110%; float:right; margin-right:30px}
.linkwebsite a:hover {color:#FF0}

.link_item {width:310px; height:165px; float:left; color:#FFFFFF; background:url(images/bg_linkwebsite.png) no-repeat center}
.link_item p{line-height:22px; margin-left:110px}
.link_item h2{margin-left:115px;}
.link_item .link_item_img{width:100px; height:165px; overflow:hidden; float:left}
.link_item .link_item_img img{height:165px}

/*partner*/
.simply-scroll-container {position:relative}
.simply-scroll-clip {overflow:hidden; position:relative;}
.simply-scroll {height:120px; width:100%;}
.simply-scroll .simply-scroll-clip {height:120px; width:100%;}
.simply-scroll .simply-scroll-list li {float:left; height:120px; margin-right:5px; width:200px;}

/*Photos*/
#photos * {margin:0px; padding:0px}
#photos ul li {display:inline; width:200px; height:180px; float:left; overflow:hidden; margin:6px}
#photos .wide {border-bottom:1px #000 solid; width:4000px}
#photos .img{display:block; height:120px; overflow:hidden; margin-bottom:3px; border:solid 3px #000}
#photos .img a{display:block; width:208px; height:120px; border:solid 1px #CCC}
#photos .img img{width:196px}
#photos h3{font-size:100%; font-weight:100; color:#666}