RewriteEngine On
RewriteCond %{HTTP_HOST} ^hoangha.com
RewriteRule ^(.*)$ http://www.hoangha.com/$1 [R=permanent,L]
RewriteRule index.html index.php
RewriteRule (.*)/(.*)/$  index.php?lang=$1&danhmuc=$2
RewriteRule (.*)/(.*)/(.*).html$ index.php?lang=$1&danhmuc=$2&detail=$3
RewriteRule vi/$ index.php?lang=vi
RewriteRule en/$ index.php?lang=en
ErrorDocument 404 http://www.hoangha.com