/* CSS Document */
/*
Vang:	FEE356
Do:		E68688
*/
*{margin:0; padding:0}
body{font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#333; background:url(images/bg.jpg) fixed #422E22}
img{border:0}
a:link,a:visited,a:active{color:#0055A5; text-decoration:none}
a:hover{color:#ED1E28; text-decoration:underline}
hr{height:1px; background-color:#E8E8E8; border:none; margin-bottom:30px}

#wrapper{width:970px; margin:auto}

#menu_top{clear:both; width:auto; float:right; padding-top:12px}
#menu_top a{color:#b1b1b1; margin-left:30px}

#header{clear:both; height:165px}
#header #logo{width:auto; float:left}
#header #slogan{width:auto; float:right}

.box_home{width:300px; height:580px; float:left; border:solid 1px #000; background:url(images/bg-home.jpg)}
.box_home .box_home_img{height:355px; overflow:hidden}
.box_home .box_home_img img{height:355px}
.box_home h2{font-size:135%; text-transform:uppercase; margin:30px 10px 5px 10px}
.box_home p{color:#999; line-height:22px; height:88px; overflow:hidden; margin:0 10px}
.box_home .view_more{width:120px; height:30px; line-height:30px; font-weight:bold; text-align:center; margin:20px auto}
.box_home a{color:#333}

.viewpost{line-height:22px}
.viewpost p, .viewpost div {line-height:20px; margin:10px 0}
.viewpost li{margin-left:35px}
.viewpost h1{font-size:160%; line-height:30px; color:#ED1E28; margin-bottom:10px}
.viewpost h2, .viewpost h3, .viewpost h4, .viewpost h5, .viewpost h6 {font-size:100%}
.viewpost  .date{color:#888; font-style:italic; text-align:right}

#other{clear:both}
#other .title2{font-size:150%; color:#017B80; font-weight:bold; margin-bottom:10px}
#other li{clear:both; margin:0 20px; padding:10px 0 10px 30px; list-style:none; font-weight:bold; background:url(images/sao.png) left no-repeat}
#other a{color:#666}

#list_detail{clear:both; color:#333; line-height:20px}
#list_detail h1{font-size:180%; color:#ED1E28}
#list_detail h2{font-size:100%; font-weight:100; color:#666; margin:10px 0 20px 0}
#list_detail .item_detail{height:140px; overflow:hidden; margin-bottom:10px}
#list_detail .item_detail .img{width:190px; height:115px; float:left; overflow:hidden; margin-right:25px}
#list_detail .item_detail .img img{width:190px}
#list_detail .item_detail h3{font-size:110%}
#list_detail .item_detail a{color:#017B80}
#list_detail .item_detail .date{font-style:italic; padding:6px 0; color:#999; font-size:90%}
#list_detail .item_detail .content{height:80px; overflow:hidden}

#contact{padding:25px}
#contact #info{line-height:22px}
#contact #info h1{font-size:200%; font-weight:100; padding-bottom:10px; margin:0}
#contact #info p, #contact #info div {margin:10px 0}
#contact .txt{width:250px; padding:5px; background-color:#f7f7f7; border:solid 1px #CCC}
#contact .textarea{width:672px; height:100px; line-height:20px; resize:none; overflow:auto; padding:5px; background-color:#f7f7f7; border:solid 1px #CCC}
#contact .btn{width:auto; padding:10px 60px; font-weight:bold; color:#FFF; background-color:#017B80; border:none; cursor:pointer}

#navigator{clear:both}
#navigator a{padding-right:15px; font-size:12px; color:#666}
#navigator a:hover{color:#000}
#navigator span{font-size:9px; color:#999; padding-right:5px}

#phantrang a{margin-right:3px; padding:5px 10px; text-align:center; background-color:#666; color:#FFF}
#phantrang a:hover{background-color:#ED1E28}

/*menu*/
#menu{height:33px; background-color:#00AEED}
#nav, #nav ul {list-style:none; position:relative; z-index:1000}
#nav a:link, #nav a:active, #nav a:visited {display:block; background-color:none}
#nav li a {line-height:33px; color:#FFF; font-weight:bold; padding:0 25px} /* letter-spacing:1px; word-spacing:2px */
#nav a:hover {text-decoration:none; background-color:#017B80}
#nav li {float:left; position:relative}
#nav ul {width:160px; position:absolute; top:33px; display:none}
#nav li ul a {width:170px; line-height:30px; float:left; color:#FFF; padding:0 25px; background-color:#888; border-bottom:solid 1px #999}
#nav li ul a:hover {background-color:#666; color:#FFF}
#nav ul ul {top:auto}
#nav li ul ul {left:220px; border-left:solid 1px #FFF}
#nav li ul ul a{font-weight:100}
#nav li:hover ul ul,
#nav li:hover ul ul ul,
#nav li:hover ul ul ul ul {display:none}
#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li li li li:hover ul {display:block}

/* popup */
#backgroundPopup{display: none; position: fixed; _position: absolute; /*IE 6*/ height: 100%; width: 100%; top: 0; left: 0; background: #000000; order: 1px solid #CECECE; z-index:1100}
#popupContact{display: none; position: fixed; _position: absolute; /*IE 6*/ z-index:1200}
.popupContactClose{font-weight: bold; cursor:pointer}
#content_popup{width:890px; height:auto; padding:35px 25px; background-color:#3A3A3A}
#content_popup h1{font-size:200%; color:#fd6d13; margin-bottom:10px}
#content_popup .img{width:500px; float:left; overflow:hidden}
#content_popup .img img{width:492px; border:solid 4px #1A1A1A}
#content_popup #content_pp{width:370px; float:right; line-height:20px; margin-bottom:30px}
#content_popup #content_pp p, #content_popup #content div {margin:10px 0}